In [368]:
import pandas as pd

### 获取数据

In [369]:
data = pd.read_csv('../data set/gd_train_data.csv',names=['Use_city','Line_name','Terminal_id','Card_id','Create_city','Deal_time','Card_type'])
data.head()

,Use_city,Line_name,Terminal_id,Card_id,Create_city,Deal_time,Card_type
0,广州,281,4589bb610f9be53a43a7bc26bb40e44d,8ce79e0b647053f191d20c5552eb49f0,广州,2014082016,普通卡
1,广州,281,9c9eb0595e01d0cb59c295945c3ff2d6,2f7bef8cdab54fcdf9feefd89188a971,广州,2014082118,普通卡
2,广州,281,3f9c5fb36b3558e9bdf2b498e4b17d67,36f7c3edb84d90fa2427ffe60f014d38,广州,2014082114,普通卡
3,广州,281,9810dbdd5ff325b4078a3ffcaa538574,875cb3e21f66347b6d1420f201fd4ca6,广州,2014082118,普通卡
4,广州,565,36856ea753f808b71500a18cd406e1b3,3c100e9c9a7086c7007df8e136e78823,广州,2014082115,普通卡

In [370]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8926605 entries, 0 to 8926604
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   Use_city     object
 1   Line_name    int64
 2   Terminal_id  object
 3   Card_id      object
 4   Create_city  object
 5   Deal_time    int64
 6   Card_type    object
dtypes: int64(2), object(5)
memory usage: 476.7+ MB

In [371]:
data.describe()

          Line_name     Deal_time
count  8.926605e+06  8.926605e+06
mean   3.733057e+02  2.014102e+09
std    1.330206e+02  1.392176e+04
min    2.810000e+02  2.014080e+09
25%    2.810000e+02  2.014091e+09
50%    2.810000e+02  2.014102e+09
75%    5.650000e+02  2.014113e+09
max    5.650000e+02  2.014123e+09

In [372]:
data['Line_name'].unique()

array([281, 565], dtype=int64)

### 按线路切割

In [373]:
line_281_data = data[data['Line_name']==281]
line_281_data.head()

,Use_city,Line_name,Terminal_id,Card_id,Create_city,Deal_time,Card_type
0,广州,281,4589bb610f9be53a43a7bc26bb40e44d,8ce79e0b647053f191d20c5552eb49f0,广州,2014082016,普通卡
1,广州,281,9c9eb0595e01d0cb59c295945c3ff2d6,2f7bef8cdab54fcdf9feefd89188a971,广州,2014082118,普通卡
2,广州,281,3f9c5fb36b3558e9bdf2b498e4b17d67,36f7c3edb84d90fa2427ffe60f014d38,广州,2014082114,普通卡
3,广州,281,9810dbdd5ff325b4078a3ffcaa538574,875cb3e21f66347b6d1420f201fd4ca6,广州,2014082118,普通卡
6,广州,281,67a5210e1ead8a6ab70d1b9f5bebb815,41b8372a9e685ab4f25eeeae7badf521,广州,2014082113,普通卡

In [374]:
line_565_data = data[data['Line_name']==565]
line_565_data.head()

,Use_city,Line_name,Terminal_id,Card_id,Create_city,Deal_time,Card_type
4,广州,565,36856ea753f808b71500a18cd406e1b3,3c100e9c9a7086c7007df8e136e78823,广州,2014082115,普通卡
5,广州,565,835993d3d7708e79468043d5180c66ea,bdff7a26421e33bbfcf700a6b873188b,广州,2014082122,普通卡
10,广州,565,7c01754291953916a8e7a496d7ebcad4,eeb4738025fd955bcc1f8acf49767ad7,广州,2014082115,普通卡
12,广州,565,7c01754291953916a8e7a496d7ebcad4,e29ca2c7461ecc37d6652b76815b65e8,广州,2014082117,普通卡
17,广州,565,7c01754291953916a8e7a496d7ebcad4,1e6e8595275541a26376b35b224d8e73,广州,2014082108,普通卡

In [375]:
line_281_data['Deal_time']=pd.to_datetime(line_281_data['Deal_time'],format='%Y%m%d%H')
line_281_data.head()

D:\python\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Use_city,Line_name,Terminal_id,Card_id,Create_city,Deal_time,Card_type
0,广州,281,4589bb610f9be53a43a7bc26bb40e44d,8ce79e0b647053f191d20c5552eb49f0,广州,2014-08-20 16:00:00,普通卡
1,广州,281,9c9eb0595e01d0cb59c295945c3ff2d6,2f7bef8cdab54fcdf9feefd89188a971,广州,2014-08-21 18:00:00,普通卡
2,广州,281,3f9c5fb36b3558e9bdf2b498e4b17d67,36f7c3edb84d90fa2427ffe60f014d38,广州,2014-08-21 14:00:00,普通卡
3,广州,281,9810dbdd5ff325b4078a3ffcaa538574,875cb3e21f66347b6d1420f201fd4ca6,广州,2014-08-21 18:00:00,普通卡
6,广州,281,67a5210e1ead8a6ab70d1b9f5bebb815,41b8372a9e685ab4f25eeeae7badf521,广州,2014-08-21 13:00:00,普通卡

In [376]:

line_281_passengerbytime = line_281_data.groupby('Deal_time').count()['Card_id']
line_281_passengerbytime = pd.DataFrame(line_281_passengerbytime).reset_index()
line_281_passengerbytime.head()

MemoryError: Unable to allocate 46.0 MiB for an array with shape (6025280, 1) and data type int64

In [ ]:
import matplotlib.pyplot as plt

### 时间与客流量的关系

In [ ]:
plt.figure(figsize=(200,10),dpi=100)
plt.plot(line_281_passengerbytime['Deal_time'],line_281_passengerbytime['Card_id'])
plt.show()

### 10月与客流量的关系

In [ ]:
line_281_passengerbytime_10 = line_281_passengerbytime[line_281_passengerbytime['Deal_time']>='2014-10-01']
line_281_passengerbytime_10 = line_281_passengerbytime_10[line_281_passengerbytime_10['Deal_time']<'2014-11-01']
line_281_passengerbytime_10.head()

In [ ]:
plt.figure(figsize=(200,10),dpi=100)
plt.plot(line_281_passengerbytime_10['Deal_time'],line_281_passengerbytime_10['Card_id'])
plt.show()

### 某天与客流量的关系

In [ ]:
line_281_day=line_281_passengerbytime[line_281_passengerbytime['Deal_time']>='2014-9-23']
line_281_day=line_281_day[line_281_day['Deal_time']<'2014-9-24']
line_281_day

In [ ]:
plt.figure(figsize=(20,10),dpi=100)
plt.plot(line_281_day['Deal_time'],line_281_day['Card_id'])
plt.show()

## 查看天气对客流量的影响

In [ ]:
weather_data = pd.read_csv('../data set/gd_weather_report.csv', names=['Date_time','Weather','Temperature','Wind_direction_force'])
weather_data.head()

In [ ]:
weather_data['Weather'].drop_duplicates()

In [ ]:
weather_data['Temperature'].drop_duplicates()

In [ ]:
weather_data['Wind_direction_force'].drop_duplicates()

### 风力对客流量的影响

In [ ]:
windmap={'无持续风向≤3级':0,'无持续风向微风转3-4级':1,'北风微风转3-4级':1,'东北风3-4级':2,'北风3-4级':2,'东南风3-4级':2,'东风4-5级':3,'北风4-5级':3}

In [ ]:
def get_front_wind(wind):
    x1=wind.split('/')[0]
    for key,value in windmap.items():
        if x1==key:
            x1=value
    return x1

def get_behind_wind(wind):
    x2=wind.split('/')[1]
    for key,value in windmap.items():
        if x2==key:
            x2=value
    return x2

def get_avg_wind(wind):
    x1=wind.split('/')[0]
    x2=wind.split('/')[1]
    for key,value in windmap.items():
        if x1==key:
            x1=value
        if x2==key:
            x2=value
    return (x1+x2)/2

weather_data['front_wind']=weather_data['Wind_direction_force'].apply(get_front_wind)
weather_data['behind_wind']=weather_data['Wind_direction_force'].apply(get_behind_wind)
weather_data['avg_wind']=weather_data['Wind_direction_force'].apply(get_avg_wind)
weather_data

### 气候对客流量的影响

In [ ]:
weathermap={'晴':0,'多云':1,'阴':2,'小雨':3,'小到中雨':4,'中雨':5,'中到大雨':6,'大雨':7,'大到暴雨':8,'霾':9,'阵雨':10,'雷阵雨':11}

In [ ]:
def get_front_weather(weather):
    x1=weather.split('/')[0]
    for key,value in weathermap.items():
        if x1==key:
            x1=value
    return x1

def get_behind_weather(weather):
    x2=weather.split('/')[1]
    for key,value in weathermap.items():
        if x2==key:
            x2=value
    return x2

def get_avg_weather(weather):
    x1=weather.split('/')[0]
    x2=weather.split('/')[1]
    for key,value in weathermap.items():
        if x1==key:
            x1=value
        if x2==key:
            x2=value
    return (x1+x2)/2

weather_data['front_weather']=weather_data['Weather'].apply(get_front_weather)
weather_data['behind_weather']=weather_data['Weather'].apply(get_behind_weather)
weather_data['avg_weather']=weather_data['Weather'].apply(get_avg_weather)
weather_data

### 温度对客流量的影响

In [ ]:
def get_high_temp(temp):
    x1=temp.split('/')[0]
    x1=int(x1[:-1])
    return x1

def get_low_temp(temp):
    x2=temp.split('/')[1]
    x2=int(x2[:-1])
    return x2

def get_avg_temp(temp):
    x1=temp.split('/')[0]
    x2=temp.split('/')[1]
    x1=int(x1[:-1])
    x2=int(x2[:-1])
    return (x1+x2)/2

weather_data['high_temperature']=weather_data['Temperature'].apply(get_high_temp)
weather_data['low_temperature']=weather_data['Temperature'].apply(get_low_temp)
weather_data['avg_temperature']=weather_data['Temperature'].apply(get_avg_temp)
weather_data

## 分析气候，温度，风力对客流量的影响

### 依据时间将表内连接

In [ ]:
import datetime

In [ ]:
line_281_passengerbytime.info()

In [ ]:
line_281_passengerbytime.head()

In [ ]:
def get_date(time):
    time=datetime.datetime.strftime(time,'%Y-%m-%d')
    return time

In [ ]:
line_281_passengerbytime['Date_time']=line_281_passengerbytime['Deal_time'].apply(get_date)
line_281_passengerbytime.head()

In [ ]:
line_281_passengerbyday=line_281_passengerbytime.groupby('Date_time').sum()['Card_id']
line_281_passengerbyday

In [ ]:
line_281_passengerbyday=pd.DataFrame(line_281_passengerbyday).reset_index()
line_281_passengerbyday

In [ ]:
weather_data['Date_time']=pd.to_datetime(weather_data['Date_time'])
weather_data

In [ ]:
line_281_passengerbyday['Date_time']=pd.to_datetime(line_281_passengerbyday['Date_time'])
line_281_passengerbyday

In [ ]:
weather_passenger=pd.merge(weather_data,line_281_passengerbyday,on='Date_time',how='inner')
weather_passenger=weather_passenger.sort_values(by='Date_time')
weather_passenger

### 查看气温对客流量的影响

#### 计算某平均温度的客流量

In [ ]:
temp_passenger=weather_passenger.groupby('avg_temperature').sum()['Card_id']
temp_passenger=pd.DataFrame(temp_passenger).reset_index()
temp_passenger.head()

#### 计算某平均温度的天数

In [ ]:
weather_passenger.head()

In [ ]:
temp_day=weather_passenger.groupby('avg_temperature').count()['Date_time']
temp_day=pd.DataFrame(temp_day).reset_index()
temp_day

#### 连接表 求某平均气温平均每天的客流量

In [ ]:
temp_passenger=pd.merge(temp_passenger,temp_day,on='avg_temperature',how='inner')
temp_passenger['avg_passenger']=temp_passenger['Card_id']/temp_passenger['Date_time']

In [ ]:
temp_passenger=temp_passenger.set_index('avg_temperature')['avg_passenger']
temp_passenger

In [ ]:
temp_passenger.plot(kind='bar',figsize=(8,5))
plt.show()

#### 求皮尔逊系数，看气温与客流量的相关性

In [ ]:
temp_passenger_dataframe=pd.DataFrame(temp_passenger).reset_index()
temp_passenger_dataframe.corr()

### 查看风力对客流量的影响

#### 计算某平均风力的客流量

In [ ]:
wind_passenger=weather_passenger.groupby('avg_wind').sum()['Card_id']
wind_passenger=pd.DataFrame(wind_passenger).reset_index()
wind_passenger

#### 计算某平均风力的天数

In [ ]:
wind_day=weather_passenger.groupby('avg_wind').count()['Date_time']
wind_day=pd.DataFrame(wind_day).reset_index()
wind_day

#### 连接表 求某平均风力平均每天的客流量

In [ ]:
wind_passenger_day=pd.merge(wind_day,wind_passenger,on='avg_wind',how='inner')
wind_passenger_day

In [ ]:
wind_passenger_day['avg_wind_passenger']=wind_passenger_day['Card_id']/wind_passenger_day['Date_time']
wind_passenger_day

In [ ]:
wind_passengerbyday=wind_passenger_day.set_index('avg_wind')['avg_wind_passenger']
wind_passengerbyday

In [ ]:
wind_passengerbyday.plot(kind='bar')
plt.show()

In [ ]:
wind_passenger_day.corr()

### 查看气候对客流量的影响

#### 计算平均气候的客流量

In [ ]:
weather_avg_passenger=weather_passenger.groupby('avg_weather').sum()['Card_id']
weather_avg_passenger=pd.DataFrame(weather_avg_passenger).reset_index()
weather_avg_passenger

#### 计算平均气候的天数

In [ ]:
weather_day = weather_passenger.groupby('avg_weather').count()['Date_time']
weather_day = pd.DataFrame(weather_day).reset_index()
weather_day

In [ ]:
weather_passenger_day = pd.merge(weather_day,weather_avg_passenger,on='avg_weather',how='inner')
weather_passenger_day['weather_population'] = weather_passenger_day['Card_id']/weather_passenger_day['Date_time']
weather_passenger_day

In [ ]:
weather_passengerbyday = weather_passenger_day.set_index('avg_weather')['weather_population']
weather_passengerbyday

In [ ]:
weather_passengerbyday.plot(kind='bar')
plt.show()

In [ ]:
weather_passenger_day.corr()

## 构造特征工程

### 根据分析，对客流量有较大影响的特征有: 是否节假日，是否周末，小时，气候，风力，气温

In [ ]:
line_281_passengerbytime

#### 对日期类型取数据 dt.（day，month，dayofweek）

In [ ]:
line_281_passengerbytime['hour']=line_281_passengerbytime['Deal_time'].dt.hour
line_281_passengerbytime

In [ ]:
line_281_passengerbytime['week']=line_281_passengerbytime['Deal_time'].dt.dayofweek
line_281_passengerbytime

In [ ]:
import numpy as np

In [ ]:
def is_holiday(day):
    if day > np.datetime64('2014-09-30') and day < np.datetime64('2014-10-08'):
        return 1
    else:
        return 0

In [ ]:
line_281_passengerbytime['is_holiday']=line_281_passengerbytime['Deal_time'].apply(is_holiday)
line_281_passengerbytime

In [ ]:
line_281_passengerbytime['Date_time']=pd.to_datetime(line_281_passengerbytime['Date_time'])

In [379]:
feature_target_data = pd.merge(line_281_passengerbytime, weather_data,on='Date_time',how='left')
feature_target_data

,Deal_time,Card_id,Date_time,hour,week,is_holiday,Weather,Temperature,Wind_direction_force,front_wind,behind_wind,avg_wind,front_weather,behind_weather,avg_weather,high_temperature,low_temperature,avg_temperature
0,2014-08-01 00:00:00,86,2014-08-01,0,4,0,晴/雷阵雨,36℃/26℃,无持续风向≤3级/无持续风向≤3级,0,0,0.0,0,11,5.5,36,26,31.0
1,2014-08-01 05:00:00,37,2014-08-01,5,4,0,晴/雷阵雨,36℃/26℃,无持续风向≤3级/无持续风向≤3级,0,0,0.0,0,11,5.5,36,26,31.0
2,2014-08-01 06:00:00,1118,2014-08-01,6,4,0,晴/雷阵雨,36℃/26℃,无持续风向≤3级/无持续风向≤3级,0,0,0.0,0,11,5.5,36,26,31.0
3,2014-08-01 07:00:00,4448,2014-08-01,7,4,0,晴/雷阵雨,36℃/26℃,无持续风向≤3级/无持续风向≤3级,0,0,0.0,0,11,5.5,36,26,31.0
4,2014-08-01 08:00:00,4964,2014-08-01,8,4,0,晴/雷阵雨,36℃/26℃,无持续风向≤3级/无持续风向≤3级,0,0,0.0,0,11,5.5,36,26,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,2014-12-31 19:00:00,2495,2014-12-31,19,2,0,晴/晴,22℃/8℃,无持续风向≤3级/北风3-4级,0,2,1.0,0,0,0.0,22,8,15.0
3179,2014-12-31 20:00:00,1880,2014-12-31,20,2,0,晴/晴,22℃/8℃,无持续风向≤3级/北风3-4级,0,2,1.0,0,0,0.0,22,8,15.0
3180,2014-12-31 21:00:00,2068,2014-12-31,21,2,0,晴/晴,22℃/8℃,无持续风向≤3级/北风3-4级,0,2,1.0,0,0,0.0,22,8,15.0
3181,2014-12-31 22:00:00,1154,2014-12-31,22,2,0,晴/晴,22℃/8℃,无持续风向≤3级/北风3-4级,0,2,1.0,0,0,0.0,22,8,15.0
3182,2014-12-31 23:00:00,862,2014-12-31,23,2,0,晴/晴,22℃/8℃,无持续风向≤3级/北风3-4级,0,2,1.0,0,0,0.0,22,8,15.0

####  将连续性数据变成离散型数据的俩种方法   one-hot 热编码   get_dummies 哑变量

In [381]:
day_of_hour=pd.get_dummies(feature_target_data['hour'],prefix='hour')
day_of_hour

,hour_0,hour_1,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [383]:
day_of_week=pd.get_dummies(feature_target_data['week'],prefix='week')
day_of_week

      week_0  week_1  week_2  week_3  week_4  week_5  week_6
0          0       0       0       0       1       0       0
1          0       0       0       0       1       0       0
2          0       0       0       0       1       0       0
3          0       0       0       0       1       0       0
4          0       0       0       0       1       0       0
...      ...     ...     ...     ...     ...     ...     ...
3178       0       0       1       0       0       0       0
3179       0       0       1       0       0       0       0
3180       0       0       1       0       0       0       0
3181       0       0       1       0       0       0       0
3182       0       0       1       0       0       0       0

[3183 rows x 7 columns]

In [386]:
is_holiday = pd.get_dummies(feature_target_data['is_holiday'], prefix='is_holiday')

In [387]:
front_wind = pd.get_dummies(feature_target_data['front_wind'],prefix='front_wind')
behind_wind = pd.get_dummies(feature_target_data['behind_wind'],prefix='behind_wind')

In [388]:
front_weather = pd.get_dummies(feature_target_data['front_weather'],prefix='front_weather')
behind_weather = pd.get_dummies(feature_target_data['behind_weather'],prefix='behind_weather')

In [389]:
category_feature = pd.concat([day_of_hour,is_holiday,day_of_week,behind_wind,front_wind,front_weather,behind_weather],axis=1)
category_feature

,hour_0,hour_1,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9,...,behind_weather_1,behind_weather_2,behind_weather_3,behind_weather_4,behind_weather_5,behind_weather_6,behind_weather_7,behind_weather_8,behind_weather_10,behind_weather_11
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 处理连续型数值变量：标准化和归一化

#### 归一化  把所有的数据都映射到（0,1）之间
              公式: (max-当前值)/(max-min)
      标准化 把所有的数据映射到平均值为0，标准差为1之间
              公式: (当前值-平均值)/标准差